

.mainUserNameSection{


    width: 100vw; 
    /* height: 100vh;  */
    display: grid;
    place-content: center;
    /* outline: 2px solid red; */
    margin-bottom: 5em;
    margin-top: -4em; 
    margin-right: -7em; 



}


.userNameContainer{



}


.detailsForm{





}



.nameLabel{

    /* outline: 4px solid blue;  */
    padding-right: 5px; 
    margin-right: 0.3em;
    display: none;




}



.userNameInput{
    all: unset;
    outline: 2px solid rgb(193, 187, 187);
    border-radius: 10px ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;

    height: 2.5rem; 
    width: 17rem; 
    color: rgb(193, 187, 187); 
    text-align: center;
    font-weight: bold;
}


.buttonSectionContainer{


    display: flex;
    justify-content: flex-end !important;



}


.userInputButton{
   /* outline: 2px solid rgb(193, 187, 187); */
   width: 8.5rem;
   height: 2.45rem;
   border-radius: 7px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   -ms-border-radius: 7px;
   -o-border-radius: 7px;
   color: aliceblue;


   display: grid;
   place-content: center;

   margin-top: 1rem;
   font-weight: bold;
   background-color: #013699;
    

}