


#footer{

    position: absolute; 
    height: 4rem;
    bottom: 0%; 
    min-width: 110vw; 
    right: 0; 
    
    
    
}



@media (min-width: 200px) and (max-width: 900px) {
    

    #footer{

        bottom: -11%; 


    }



}

@media(min-width: 1300px) and (max-width: 1700px){



    #footer{


        height: 1em;




    }



}

/* TO DO Add in a Mobile Media Query to Increase the height of the footer. Run it on Height as well as a wider smartphone width to avoid clashes with shorter phones  */


