.footerMainContainer{

    background-color: #013699;
    width: 100vw; 
    overflow: hidden;
    position: absolute; 
    height: 15em; 
    display: grid;



}

.footerSubContainer{


    position: relative; 
    width: 100%; 
    height: 100%; 




}



.footerLeftSection{




}


.logoContainer{


    position: relative; 
    z-index: 9999999; 
    margin-top: 2em; 
    margin-left: 1em; 


}



.footerLogo{

    color: white;


}



.footerRightSection{


    position: absolute; 
    right: 0%; 
    /* margin-top: 2em; */
    top: 17%;
    outline: 2px solid lime;
    display: grid; 
    grid-template-columns: 1fr 1fr;
    gap: 1em; 



}

.rightSectionSubContainer{


        position: relative;
        display: grid; 
        grid-template-columns: 1fr 1fr;
        gap: 1em; 
        width:20vw;



}


.listContainerOne{






}


.leftList{

list-style: none;


}


.leftListItem{





}



.listContainerTwo{






}


.socialMediaSection{


    outline: 2px solid lime;
    position: absolute;
    right: 0; 


}


.socialMediaSectionContainer{





}


.footerSocialMediaList{



display: flex; 



    
}



.socialMediaIconItem{


    display: block !important; 



}














































