

/* Add in the root variables here  */

/* Add in the global styles here  */


/* Add in the main classes here  */

.footerMainContainer{

        background-color: #4c2a72;
        position: absolute;
        bottom: 0; 
        left: 0; 
        right: 0; 
        overflow-x: hidden !important;
        max-width: 99.99vw; 
        height: 55vh; 
        /* margin-top: 500rem;  */




}

.footerSubContainerSection{

    position: relative;





}


.footerTopSectionContainer{





}


.topSectionTextMainContainer{





}


.footerTopText{


    /* outline: 3px solid red;  */

    font-size: 2.65rem !important;
    position: absolute; 
    left: 8%; 
    top: 10%; 


}



.contactButtonContainer{


    /* outline: 3px solid red;  */

    position: absolute; 
    right: 3%; 
    margin-top: 3rem; 




}


.footerContactButton{





}


.footerBottomSectionContainer{
    position: absolute;
    top: 200% !important;
    left: 0%;
    /* outline: 5px solid blue; */

    margin-bottom: -50vh !important;
    transform: translate(0, 15rem);
    -webkit-transform: translate(0, 15rem);
    -moz-transform: translate(0, 15rem);
    -ms-transform: translate(0, 15rem);
    -o-transform: translate(0, 15rem);

    width: 100vw; 
    overflow-x: hidden;


}


.footerBottomSectionSubContainer{


    position: relative; 
    /* outline: 5px solid red;  */


}


.footerInfoList{


    list-style: none;



    
}



.footerInfoListItem{


    list-style: none;
    display: inline-block;
    margin-right: 0.5rem; 




    
}


.footerCopyRightInfo{




}


.footerListItem{


    display: inline-block;




}




.footerWebsiteLink{





}




.footerWebsiteLinkText{




    
}


.footerBottomRightSectionContainer{



    /* outline: 5px solid red;  */

    position: relative; 
    /* right: 0;  */
    /* bottom: 0;  */



}



.footerBottomRightSection{




}



.footerBottomRightSectionList{

    list-style: none; 

}



.footerSocialIconItem{

    margin-right: 1rem; 
    display: inline-block; 



}




.iconListLink{





}


.iconListIcon{


    width: 1.5rem; 
    height: 1.5rem; 
    margin-bottom: -0.5rem;




}



/* Add in the media queries here  */


/* Add in the effects here  */


/* Add in the animations here  */








































