


#footer{

    position: absolute; 
    height: 4rem;
    bottom: 0%; 
    min-width: 110vw; 
    right: 0; 
    
    
    
}


@media (min-width: 200px) and (max-width: 900px) {
    

    #footer{

        bottom: -11%; 


    }



}



