


.mainContainer {
    background-color: white !important;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative; 

}


.subContainer{

    width: 50vw; 
    margin: 0 auto; 
    padding-top: 27vh; 
    display: grid;
    place-content: center;

    




}

.headerImageContainer {




}

.mainImage {
    width: 16em;
    height: 16em;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 18%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
    -o-transform:translate(-50%, -50%);
    

}

.mainHeaderContainer {
}

.mainTextHeader {

    margin: 0 auto; 
    margin-top: 5rem !important; 

    display: grid;
    place-content: center;
    font-size: 2.1rem;
    font-weight: bolder;
    /* width: 60%;  */
    text-align: center;
    line-height: 1.12555;
    /* line-height: normal; */
    color: #013699; 
    


}

.mainSupportingTextContainer {

    font-size: 1.1rem;
    /* font-weight: bo; */
    width: 70%;
    margin: 0 auto; 
    text-align: center;
    margin-bottom: 7.5rem;
    margin-top: 0.65em; 
    color: #69696f;
    display: grid;
    place-content: center;




}

.mainTextSpan{


    /* width: 50%;  */
    /* outline: 4px solid lime; */


}



.legalSpan{


    display: inline-block;
    width: 15rem !important;
    margin: 0 auto;  


}




.termsSpan{




cursor: pointer;
color: #f4ba4f;
text-decoration: underline;



}


.conditionsSpan{


    color: #f4ba4f;
    text-decoration: underline;




}





.pagination{




}

.ctaContainer{


    height: 3em; 
    display: grid;
    place-content: center;

}


.cta{
    height: 55px;
    width: 275px;
    background-color: #f49b53;
    display: grid;
    place-content: center;
    border-radius:19px;
    -webkit-border-radius:19px;
    -moz-border-radius:19px;
    -ms-border-radius:19px;
    -o-border-radius:19px;
    margin-top: -4.35em;

    color: white; 
    font-size: 1.5rem;
    font-weight: bolder;
    cursor: pointer; 
    


}











