


.loginSectionContainer{



    margin-top: -4rem; 





}


.loginTextContainer{



    margin-bottom:1rem; 




}




.loginSupportingText{


    display: grid;
    place-content: center;
    color: #404F6F; 



}





.buttonContainer{


    display: grid;
    place-content: center;
    color: #3C4043 !important; 
    




}



.loginButton{


    outline: 2px solid #DADCE0;
    width: 300px; 
    height: 45px; 
    border-radius: 20px;
    position: relative;

    
    margin-bottom: 6em;



}


.iconContainer{



    position: absolute;
    left: 10px;
    top: 5px; 





}



.buttonText{






}




/* Add in the onclick and hover effects here  */



























































































