

/* Add in the global variables here  */

/* Add in the Root variables here  */


/* Add in the main classes here  */

.navContainer{

    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    width: 100vw; 
    height: calc((100vh - 591px) / 3 + 130px);
    background-color: #013699;
    overflow: hidden;


}

/* Add in a desktop and laptop media query here  */

@media(min-width: 1000px) and (max-width: 3000px){

    .navContainer{

        position: absolute;
        top: 0; 
        left: 0; 
        right: 0; 
        width: 100vw; 
        height: calc((100vh - 665px) / 3 + 130px);
        background-color: #013699;
        overflow: hidden;
    
    
    }




}





/* Add in the media queries here  */
@media(max-width: 950px){

    .logoSubContainer{
        left: 7.5%; 
    }

}
@media(min-width: 1300px) and (max-width: 1700px){

    .card{


        margin-top: -10rem !important; 
        


    }





}




/* Add in the effects here  */


/* Add in the animations here  */