

/* Add in the global variables here  */

/* Add in the Root variables here  */


/* Add in the main classes here  */

.navContainer{

    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    width: 100vw; 
    height: 4rem;
    background-color: #013699;
    overflow: hidden;

    /* Add in the bottom shadow here  */
    


}

.navbarLogoSection{

    height: 100%; 
    width: 100%; 
    position: relative; 

}


.logoSubContainer{
    position: absolute;
    top: 50%;
    left: 3%;
    
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}


.logoLink{


}

.logoImage{




}



/* Add in the media queries here  */
@media(max-width: 950px){

    .logoSubContainer{
        left: 7.5%; 
    }

}

/* Add in the effects here  */


/* Add in the animations here  */