

/* Add in the root variables here  */
:root{

    --background: #4c2a72; 
    --navbar: #2a1044; 
    --mainImageBackground: #53267a; 
}

/* Add in the box sizing here  */


/* Add in the global styling here  */


/* Add in the main classes here  */

body{
    
    /* background-color: var(--mainImageBackground); */
    overflow-x: hidden !important;; 
    max-width: 100vw; 
    width: 99.99svw; 
    height: 100vh; 
    overflow-x: hidden !important; 
    position: absolute; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    top: 0; 
}

.landingPageMainContainer{






}

.navbarMainContainer{


}


.mainSection{


    position: relative;
    display: grid; 
    place-content: center; 

}


.callToActionContainer{





}

.logoImageContainer{




}



.backgroundLogoCTAImage{


    outline: 33px solid lime; 

    width: 12.5rem; 
    height: 12.5rem; 





}

.dividerElement{




}


.callToActionButtonContainer{





}



.callToActionButton{
    background-color: white;
    color: black;
    display: grid;
    place-content: center;
    border-radius: 15px;
    font-weight: 700;   
    width: 180px;
    height: 48px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


.callToActionLink{

    color: black; 


}