
/* TODO fix the bottom margin in the quiz card URGENT */
.mainCardSectionContainer{
        position: absolute;
        top: 4.25rem;
        margin-top: 1rem;
        left: 50%;
        transform:translate(-50%, 0%);
        -webkit-transform:translate(-50%, 0%);
        -moz-transform:translate(-50%, 0%);
        -ms-transform:translate(-50%, 0%);
        -o-transform:translate(-50%, 0%);




    }




.quizComponentContainer{


    position: relative;
}


.ageBracketContainer{

    width: 10rem; 
    z-index: 99999999; 
    position: relative;
    display: grid;
    place-content: center;
    width: 19rem;
    height: 22rem;
    
    margin: auto; 
    overflow: hidden;   
    margin-top: -3.5rem;

}



.buttonGroupContainer{


    margin-top: -1.7rem; 



}



    .ageButton{


        width: 260px; 
        height: 58px; 
        border-radius: 5px;
        background-color: #79A479;

        font-size: 2rem; 
        font-weight: 600;
        display: grid;
        place-content: center; 
        margin-bottom: 1rem;





    }

    .childButton{


        background-color: #79A479;
        transition: all 0.1s ease; 
        box-shadow: 0px 3px 1px 0px #678b67; 
    }


    .childButton:active{

        box-shadow: none; 
        transform: translate(0, -1px); 
        



    }


    .studentButton{


        background-color: #013699 !important;
        box-shadow: 0px 3px 1px 0px #023ca8; 
        transition: all 0.1s ease;

    }


    .studentButton:active{


        box-shadow: none;
        transform: translate(0, -1px); 


    }

    .adultButton{

        background-color: #00143D;
        box-shadow: 0px 3px 1px 0px #001c54;
        transition: all 0.1s ease;


    }


    .adultButton:active{


        transform: translate(0, -1px);
        box-shadow: none;




    }



.ageTextContainer{


    width: 15.6rem;
    margin: 0 auto; 
    padding-top: 0.7rem; 


}

.ageTextSpan{


    text-align: center;
    font-size: 0.7rem;
    color: #404F6F ; 
    margin: auto; 
    margin-left: 0.7rem; 


}


















