

.mainCardSectionContainer{







}




.quizComponentContainer{


    position: relative;



}


.ageBracketContainer{



    width: 10rem; 
   
    z-index: 99999999; 



}



.buttonGroupContainer{





}



    .ageButton{


        width: 260px; 
        height: 58px; 
        border-radius: 5px;
        background-color: #79A479;

        font-size: 2rem; 
        font-weight: 600;
        display: grid;
        place-content: center; 
        margin-bottom: 1rem;





    }

    .childButton{


        background-color: #79A479;



    }


    .studentButton{


        background-color: #013699 !important;

    }

    .adultButton{


        background-color: #00143D;




    }



.ageTextContainer{


    width: 15.6rem;
    margin: 0 auto; 




}

.ageTextSpan{


    /* outline: 2px solid lime; */
    text-align: center;
    font-size: 0.7rem;
    color: #404F6F ; 
    margin: auto; 
    margin-left: 0.7rem; 


    




}


















