

.mainUserNameSection{


    width: 100vw; 
    display: grid;
    place-content: center;
    margin-bottom: 5em;
    margin-top: -4em; 
    margin-right: -7em; 

}


.userNameContainer{



}


.detailsForm{





}



.nameLabel{

    padding-right: 5px; 
    margin-right: 0.3em;
    display: none;




}



.userNameInput{
    all: unset;
    outline: 2px solid rgb(193, 187, 187);
    border-radius: 10px ;
    -webkit-border-radius: 10px ;
    -moz-border-radius: 10px ;
    -ms-border-radius: 10px ;
    -o-border-radius: 10px ;

    height: 2.5rem; 
    width: 17rem; 
    /* color: rgb(193, 187, 187); 
     */
     color: black; 

    text-align: center;
    font-weight: bold;
    background-color: white;

}

.userNameInput::placeholder {
    color: #aaa; /* light gray, or any color you prefer */
    opacity: 1;   /* make sure it's fully visible */
    font-weight: normal; /* optional: remove bold if undesired */
  }

.userNameInput:-webkit-autofill {
    background-color: rgb(226, 225, 225) !important;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    -webkit-text-fill-color: black !important;
  }

.buttonSectionContainer{


    display: flex;
    justify-content: flex-end !important;



}


.userInputButton{
   width: 8.5rem;
   height: 2.45rem;
   border-radius: 7px;
   -webkit-border-radius: 7px;
   -moz-border-radius: 7px;
   -ms-border-radius: 7px;
   -o-border-radius: 7px;
   color: aliceblue;


   display: grid;
   place-content: center;

   margin-top: 1rem;
   font-weight: bold;
   background-color: #013699;



}






































































































