/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

:root {
  --background: #9091ac;
  --foreground: #171717;
  overflow-x: hidden;
  
}

@theme inline {
  --color-background: var(--foreground);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: white;
  color: var(--foreground);
  font-family: var(--font-nunito), sans-serif

}


.bg-home {
  background-color: white;
}

.bg-about {
  background-color: #f0f0f0;
}

.bg-contact {
  background-color: #ffefd5;
}

.bg-default {
  background-color: #e0e0e0;
}