/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui";

:root {
  --background: #9091ac;
  --foreground: #171717;
  overflow-x: hidden;

  --card-width: 20rem; 
  --card-height: 70vh; 
  --max-card-height: 40rem; 
  --card-background-color: rgb(251, 251, 251); 
  --svg-fill-color: #000; 
  --svg-opacity: 1; 
  --stroke-color: #000; 

  
}

@theme inline {
  --color-background: var(--foreground);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  /* background: white; */
  background-color: rgb(234, 234, 234);
  color: var(--foreground);
  font-family: var(--font-nunito), sans-serif

}


.bg-home {
  background-color: white;
}

.bg-about {
  background-color: #f0f0f0;
}

.bg-contact {
  background-color: #ffefd5;
}

.bg-default {
  background-color: #e0e0e0;
}